* {
    box-sizing: border-box;
    margin: 0;
    font-size: 1.4rem;
}

main {
    background: radial-gradient(circle, rgba(0, 255, 166, 0.176), rgba(19, 1, 4, 0.15), rgba(0, 42, 255, 0.196));
    display: grid;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.calculator-wrapper {
    background-color: rgba(0, 0, 0, 0.748);
    padding: 1.5rem;
    border-radius: 30px;
    width: 100%;
    max-width: 450px;
    box-shadow: 15px 15px 7px 10px rgba(0, 0, 0, 0.274);
}

.display-container {
    height: 5rem;
    border: 3px solid rgba(0, 0, 0, 0.189);
    margin: 5px;
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.274);
}

.base-container {
    display: grid;
    place-items: center;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

button {
    height: 3rem;
    width: 100%;
    border-radius: 15px;
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.274);
}
button:hover{
    cursor: pointer;
    font-size: 1.2rem;
}

@media(max-width:750) {
    .calculator-wrapper {
        width: 90%;
        max-width: 200px;
        margin: auto;

    }
}